<%
require("uci")
local io = require "io"

function getdevices( type )
    
	filename = "/tmp/devices_" .. tostring(type) .. ".ini";
    local file = io.open(filename,"r");
	
	if(file==nil) then
		return;
	end	
	local datad = file:read("*a");
	
	datad = string.gsub(datad, "\r", "");
	datad = string.gsub(datad, "\n", "");	
	
	file:close();
	local deviceid_str = luci.sys.exec("uci get devicesid_list.@devicesid[0].id");
	return datad;
end

function getdevices_list()                                    
                                                               
        filename = "/etc/config/devicesid_list";                 
    	local file = io.open(filename,"r");                        
                                                                                
        if(file==nil) then                                     
                return;                                                         
        end                                                                     
        local datad = file:read("*a");                                          
                                                                                
        datad = string.gsub(datad, "\r", "");                                   
        datad = string.gsub(datad, "\n", "");  
		 datad = string.gsub(datad, "list id", ""); 
        file:close();                                                           
                                                                                
        return datad;                                                           
end

local result7=getdevices(7);
local devicesid_str = getdevices_list();
%>


<!doctype html>
<!-- lights a{ float:left; padding-left:380px; padding-top:10px;text-decoration:none; font-size:30px;}-->

<html>
<head>
<style> 
body{ margin:auto;background-color:#1c69bb;}
img{display:block;border:none;}
a{ display:block; text-decoration:none; font-family:"微软雅黑";}
.big_box{width:100%;height:auto;position:absolute;top:50%;margin-top:-325px;}
.big_top{ width:1196px;margin:auto;overflow:hidden; padding-top:5px;}
.big_top img,.big_top a{ float:left;padding-bottom:15px;text-decoration:none;}
.big_top a{font-size:26px; text-decoration:none;  color:white; font-family:"微软雅黑";}

.button{margin-left:1000px;color:white;padding-top:10px;}
.big_top p{ padding-top:20px;color:#FFF; padding-left:15px; font-size:12px;font-family:"微软雅黑";}

.big_bottom{width:1198px;background-color:#226fc0;margin:auto;border-top:1px solid #407CB8; overflow:hidden;}
.bottom{width:1198px; height:auto background-color:#226fc0; margin:auto;overflow:hidden; padding-bottom:50px;}
.bottom p{font-size:16px; color:#ffffff;font-family:"微软雅黑";}

.nav{ width:100%; line-height:50px; background-color:#8eb3db;overflow:hidden;}
.nav a{ float:left; padding-left:550px; padding-top:5px;text-decoration:none; font-size:26px;color:#ffffff;font-family:"微软雅黑";}
.title{ float:left; padding-left:580px; padding-top:10px;padding-bottom:10px;text-decoration:none; font-size:20px;color:#ffffff;font-family:"微软雅黑";}
table{
	width:100%;
}

table, th, td {
	border: 1px solid #8eb3db;
	border-collapse: collapse;
	padding: 5px;
}

th,td{
	text-align: left; padding-left:40px; color:#CCC; 
}
td.img{
   float;
}
</style>

    <meta charset="utf-8">
    <title>zigbee设备设备</title>
    <script type="text/javascript" src="<%=resource%>/js/jquery-1.8.1.min.js"></script>
	<script type="text/javascript" src="<%=resource%>/js/jquery.rotate.js"></script>
	<script type="text/javascript" src="<%=resource%>/js/modernizr-1.5.min.js"></script>
	<script type="text/javascript" src="<%=resource%>/js/prefixfree.min.js"></script>
	<script type="text/javascript" src="<%=resource%>/js/jquery.form.js"></script>
	<script type="text/javascript" src="<%=resource%>/js/tip.js"></script>
	<script type="text/javascript"> var resPath = "<%=resource%>" + "/images/"; </script>
    <script type="text/javascript">	var pwhdata='<%=result7%>'; </script>
	
</head>

<body>
	
<script type="text/javascript">

var idx = 0;
var pairtmr;

function refreshstate()
{
	$.get("<%=luci.dispatcher.build_url("admin/newweb/pair470_getstate")%>", function(data,status) {
		var node = document.getElementById( "rf470" );
		var ret = window.JSON.parse(data);
		if ( 0 != ret.result )
		{
			return;
		}
		
		if ( ret.state == 2 )
		{
			node.innerHTML = "没有配对的采集器.";
		}
		else if ( ret.state == 3 )
		{
			idx += 1;
			if ( ret.ecode < 80 )
			{
				node.innerHTML = "正在寻找空闲通道..." + idx;
			}
			else
			{
				node.innerHTML = "正在寻找采集器..." + idx;
			}
		}
		else if ( ret.state == 4 )
		{
			node.innerHTML = "配对成功: " + ret.addr;
		}
		else
		{
			node.innerHTML = "配对错误: " + ret.ecode;
		}
		
		if ( ret.state != 3 )
		{
			clearInterval( pairtmr );
		}
	});
}

function startpair()
{
	$.get("<%=luci.dispatcher.build_url("admin/newweb/pair470_control")%>", function(data,status) {
		var ret = window.JSON.parse(data);
		if ( ret.result != 0 )
		{
			alert( "请稍等, 设备配对正在进行中...." );
		}
		else
		{
			idx = 0;
			pairtmr = setInterval( "refreshstate()", 1000 );
		}
	});
	
	return false;
}

pairtmr = setInterval( "refreshstate()", 1000 );

$(window).load( function() {
	refreshstate();
});

</script>

<div class="big_box">
	<div class="big_top">
    	<a href="newweb_index"><img src="<%=resource%>/images/back.png"></a>
        <a href="newweb_index">&nbsp;&nbsp;470</a>
        <a class="button" href="javascript:void(0)" onclick="startpair()"><img src="<%=resource%>/images/pair.png"></a>
        <p>配对</p>
		<div id="rf470" class="button" >state unknow</div>
    </div>
    
	<div class="big_bottom">
		<div class="nav">
			<a>水、电、热表</a>
		</div>
	
    <script type="text/javascript">
	
	var pwhArr = eval(pwhdata); 
	var str = "<%=devicesid_str%>"
	//alert(str);
	var i=0;         
	var j=0;
	var k=0;
	//电水热var j=0;
	
	
	document.write('<div class="title" id="title1">已有设备</div>');
	for(i=0;i<pwhArr.length;i++){  
		var pwhData = pwhArr[i];
		var devId = pwhData["deviceid"];
		var devicetype=pwhData["devicetype"];		
		var data=pwhData["data"];
		var status=str.indexOf(devId);//status
		if(status!="-1")
		{
		document.write("<table>");
		document.write("<tr>") ;
		if(devicetype=="0007")
			document.write("<td><center>电表</td>");
		else if(devicetype=="0008")
			document.write("<td><center>水表</td>");
		else
		    document.write("<td><center>热表</td>");	
			document.write("<td style='width:500px'><center>"+devId+"</td>"); 
			//document.write('<form method="post" id="lightSet" action="<%= luci.dispatcher.build_url("admin/newweb/light_control") %>"  >');
			//document.write('<input type="hidden" value="0" id="currLightState"/>');
			//document.write('<td><img  id="lightBtn" src="<%=resource%>/images/button_01.png" onclick="switchLightState(item);"></td>') ;	
			//document.write("</form>");
			document.write("<td style='width:200px'><center>"+data+"</td>"); 
			document.write('<form method="post" id="lightSet" action="<%= luci.dispatcher.build_url("admin/newweb/elewater_item") %>"  >');
			document.write('<td><center><button onclick="del()">删除</button></td>');
			document.write('<input class="id" type="hidden"  name="devId" value="'+devId+'"/>');
			document.write('<input class="type" type="hidden"  name="devicetype" value="'+devicetype+'"/>');
			document.write('<input class="id" type="hidden"  name="status" value="'+status+'"/>');
			//document.write('<p class="deom" id="deom2"></p></td>');
			document.write("</form>");
			document.write("</tr>") ;
			document.write("</table>");
			j++;
		}
	}	
	
	document.write('<div class="title" id="title2">发现新设备</div>');
	for(i=0;i<pwhArr.length;i++){  
		var pwhData = pwhArr[i];
		var devId = pwhData["deviceid"];
		var devicetype=pwhData["devicetype"];		
		var data=pwhData["data"];
		var status=str.indexOf(devId);//status
		if(status=="-1")
		{
		document.write("<table>");
		document.write("<tr>") ;
		if(devicetype=="0007")
			document.write("<td><center>电表</td>");
		else if(devicetype=="0008")
			document.write("<td><center>水表</td>");
		else
		    document.write("<td><center>热表</td>");	
			document.write("<td style='width:500px'><center>"+devId+"</td>"); 
			//document.write('<form method="post" id="lightSet" action="<%= luci.dispatcher.build_url("admin/newweb/light_control") %>"  >');
			//document.write('<input type="hidden" value="0" id="currLightState"/>');
			//document.write('<td><img  id="lightBtn" src="<%=resource%>/images/button_01.png" onclick="switchLightState(item);"></td>') ;	
			//document.write("</form>");
			document.write("<td style='width:200px'><center>"+data+"</td>"); 
			document.write('<form method="post" id="lightSet" action="<%= luci.dispatcher.build_url("admin/newweb/elewater_item") %>"  >');
			document.write('<td><center><button onclick="add()">添加</button></td>');
			document.write('<input class="id" type="hidden"  name="devId" value="'+devId+'"/>');
			document.write('<input class="type" type="hidden"  name="devicetype" value="'+devicetype+'"/>');
			document.write('<input class="id" type="hidden"  name="status" value="'+status+'"/>');
			//document.write('<p class="deom" id="deom1"></p>');
			document.write("</form>");
			document.write("</tr>") ;
			document.write("</table>");
			k++;
		}
	}
	
	</script>
	</div>    <!--big_bottom结束-->
	<div class="bottom">
	   <p id="deom"></p>
	</div>

<script>
    function add1()
	{
	//document.write("保存成功");
	document.getElementById("deom").innerHTML="保存成功";
	}
	function add()
	{
	//document.write("保存成功");
	document.getElementById("deom").innerHTML="添加成功";
	}
	function del()
	{		 
	//document.write("保存成功");
	document.getElementById("deom").innerHTML="删除成功";
	}
	
	if(j==0){
	   document.getElementById("title1").style.display="none";
	}
	if(k==0){
	   document.getElementById("title2").style.display="none";
	}
</script>
</div>
</body>
</html>
